* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
 
body {
    background: #0a0225;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 
.container {
    width: 90%;
    height: 90vh;
    background: #ffffff10;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
}
 
.form-box {
    width: 50%;
    background: #ffffff;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.logo {
    width: 150px;
    margin: 0 auto 20px;
    display: block;
}
 
.cabecalho {
    display: flex;
    justify-content: center;
}
 
.login-link {
    text-align: center;
    margin-bottom: 20px;
}
 
.login-link a {
    font-size: 14px;
    color: #4c3bcf;
    text-decoration: none;
    font-weight: 500;
}
 
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}
 
form {
    display: flex;
    flex-direction: column;
}
 
label {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}
 
input {
    margin-top: 5px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}
 
.btn-criar {
    margin-top: 25px;
    padding: 14px;
    background: #31c237;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
 
.btn-criar:hover {
    background: #28a32f;
}
 
/* LADO DIREITO */
 
.text-box {
    width: 50%;
    background: #3d4160;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
 
.inner {
    background: white;
    padding: 40px 50px;
    border-radius: 15px;
    width: 75%;
    box-shadow: 0px 0px 20px #00000030;
}
 
.text-box h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
 
.text-box p {
    font-size: 16px;
    margin-bottom: 10px;
}
 .create-link {
    display: inline-block;
    padding: 10px 10px;
    background: #27c922;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}
.create-link:hover {
    background: #0036c7;
}
.link{
  color: #0036c7;
}
button {
    width: 100%;
    padding: 15px;
    background-color: #22d432;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #1bb32a;
}
a.btn {
    display: block;          /* vira bloco, fica do tamanho dos inputs */
    width: 100%;             /* ocupa toda a largura */
    background: #22d432;     /* cor do botão */
    color: white;            /* texto branco */
    text-align: center;
    padding: 15px;
    border-radius: 10px;     /* cantos arredondados */
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;   /* remove sublinhado */
    margin-top: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

a.btn:hover {
    background: #1bb32a;     /* efeito hover */
}
