* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}
 
body {
  background-color: #ffffff;
  color: white;
  overflow-x: hidden;
}
 
header.header {
  background-color: #110931;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
 
.menu-icon {
  font-size: 32px;
  cursor: pointer;
  color: white;
}
 
.search-box input {
  padding: 12px 20px;
  border-radius: 50px;
  border: none;
  width: 600px;
  font-size: 16px;
}
 
.logo {
  width: 120px;
}
 
.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: #1a104a;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease;
}
 
.side-menu a {
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
}
 
.side-menu a:hover {
  background-color: #5a2aff;
}
 
.side-menu.open {
  left: 0;
}
 
.content {
  padding: 40px;
}
 
h2 {
  margin-bottom: 15px;
  font-size: 28px;
}
 
.carousel-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}
 
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
}
 
.card {
  background-color: rgb(19, 9, 44);
  color: rgb(255, 255, 255);
  min-width: 450px;
  border-radius: 0px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 20px;
}
 
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
 
.arrow {
  background-color: white;
  border: none;
  color: #110931;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 22px;
  cursor: pointer;
}
 
.arrow:hover {
  background-color: #383739;
  color: rgb(22, 26, 138);
}
 
footer {
  text-align: center;
  padding: 20px;
  color: #ffffff;
}
 .footer {
    background-color: #0d0033; /* roxo bem escuro igual ao topo */
    color: rgb(255, 255, 255);
    padding: 40px 20px 10px;
    margin-top: 50px;
    border-radius: 20px 20px 0 0;
}
 
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    gap: 30px;
}
 
.footer-section h3,
.footer-section h4 {
    margin-bottom: 10px;
    font-weight: 700;
}
 
.footer-section p,
.footer-section a {
    font-size: 15px;
    opacity: 0.9;
}
 
.footer-section ul {
    list-style: none;
    padding: 0;
}
 
.footer-section ul li {
    margin-bottom: 6px;
}
 
.footer-section a {
    color: #dcdcff;
    text-decoration: none;
    transition: 0.2s;
}
 
.footer-section a:hover {
    color: #ffffff;
    text-decoration: underline;
}
 
.footer-bottom {
    text-align: center;
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,0.2);
    font-size: 14px;
    opacity: 0.8;
}